paginaMisOfertas/src/conf/xml-resources/web-service-references/WSGestionarProducto/wsdl/localhost_8080/WSPotafolio/WSGestionarProducto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.portafolio.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.portafolio.com/">

<xs:element name="actualizarActivoProducto" type="tns:actualizarActivoProducto"/>

<xs:element name="actualizarActivoProductoResponse" type="tns:actualizarActivoProductoResponse"/>

<xs:element name="actualizarProducto" type="tns:actualizarProducto"/>

<xs:element name="actualizarProductoResponse" type="tns:actualizarProductoResponse"/>

<xs:element name="borrarProductoPorID" type="tns:borrarProductoPorID"/>

<xs:element name="borrarProductoPorIDResponse" type="tns:borrarProductoPorIDResponse"/>

<xs:element name="listarProducto" type="tns:listarProducto"/>

<xs:element name="listarProductoEmpresa" type="tns:listarProductoEmpresa"/>

<xs:element name="listarProductoEmpresaResponse" type="tns:listarProductoEmpresaResponse"/>

<xs:element name="listarProductoPorRangoFechas" type="tns:listarProductoPorRangoFechas"/>

<xs:element name="listarProductoPorRangoFechasResponse" type="tns:listarProductoPorRangoFechasResponse"/>

<xs:element name="listarProductoResponse" type="tns:listarProductoResponse"/>

<xs:element name="listarTipoProducto" type="tns:listarTipoProducto"/>

<xs:element name="listarTipoProductoResponse" type="tns:listarTipoProductoResponse"/>

<xs:element name="registrarProducto" type="tns:registrarProducto"/>

<xs:element name="registrarProductoResponse" type="tns:registrarProductoResponse"/>

<xs:complexType name="registrarProducto">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="urlFoto" type="xs:string" minOccurs="0"/>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="tipoProductoID" type="xs:int"/>
<xs:element name="fechaIngreso" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCaducidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductoEmpresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductoEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:productoEmpresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="productoEmpresa">
<xs:sequence>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcionProducto" type="xs:string" minOccurs="0"/>
<xs:element name="empresa" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCaducidad" type="xs:string" minOccurs="0"/>
<xs:element name="fechaIngreso" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="tipoProducto" type="xs:string" minOccurs="0"/>
<xs:element name="urlFoto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcionProducto" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCaducidad" type="xs:string" minOccurs="0"/>
<xs:element name="fechaIngreso" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="tipoProductoID" type="xs:int"/>
<xs:element name="urlFoto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActivoProducto">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarActivoProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTipoProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTipoProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoProducto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoProducto">
<xs:sequence>
<xs:element name="descripción" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarProductoPorID">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarProductoPorIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProducto">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:int"/>
<xs:element name="descripcionProducto" type="xs:string" minOccurs="0"/>
<xs:element name="urlFoto" type="xs:string" minOccurs="0"/>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="tipoProductoID" type="xs:int"/>
<xs:element name="fechaIngreso" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCaducidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductoPorRangoFechas">
<xs:sequence>
<xs:element name="rangoInicial" type="xs:string" minOccurs="0"/>
<xs:element name="rangoFinal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProductoPorRangoFechasResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>