paginaMisOfertas/src/conf/xml-resources/web-service-references/WSGestionarProducto/wsdl/localhost_8080/WSPotafolio/WSGestionarProducto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portafolio.com/" name="WSGestionarProducto">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portafolio.com/" schemaLocation="http://localhost:8080/WSPotafolio/WSGestionarProducto?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarActivoProducto">
<part name="parameters" element="tns:actualizarActivoProducto"/>
</message>
<message name="actualizarActivoProductoResponse">
<part name="parameters" element="tns:actualizarActivoProductoResponse"/>
</message>
<message name="listarProductoPorRangoFechas">
<part name="parameters" element="tns:listarProductoPorRangoFechas"/>
</message>
<message name="listarProductoPorRangoFechasResponse">
<part name="parameters" element="tns:listarProductoPorRangoFechasResponse"/>
</message>
<message name="listarProductoEmpresa">
<part name="parameters" element="tns:listarProductoEmpresa"/>
</message>
<message name="listarProductoEmpresaResponse">
<part name="parameters" element="tns:listarProductoEmpresaResponse"/>
</message>
<message name="borrarProductoPorID">
<part name="parameters" element="tns:borrarProductoPorID"/>
</message>
<message name="borrarProductoPorIDResponse">
<part name="parameters" element="tns:borrarProductoPorIDResponse"/>
</message>
<message name="registrarProducto">
<part name="parameters" element="tns:registrarProducto"/>
</message>
<message name="registrarProductoResponse">
<part name="parameters" element="tns:registrarProductoResponse"/>
</message>
<message name="actualizarProducto">
<part name="parameters" element="tns:actualizarProducto"/>
</message>
<message name="actualizarProductoResponse">
<part name="parameters" element="tns:actualizarProductoResponse"/>
</message>
<message name="listarTipoProducto">
<part name="parameters" element="tns:listarTipoProducto"/>
</message>
<message name="listarTipoProductoResponse">
<part name="parameters" element="tns:listarTipoProductoResponse"/>
</message>
<message name="listarProducto">
<part name="parameters" element="tns:listarProducto"/>
</message>
<message name="listarProductoResponse">
<part name="parameters" element="tns:listarProductoResponse"/>
</message>
<portType name="WSGestionarProducto">
<operation name="actualizarActivoProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/actualizarActivoProductoRequest" message="tns:actualizarActivoProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/actualizarActivoProductoResponse" message="tns:actualizarActivoProductoResponse"/>
</operation>
<operation name="listarProductoPorRangoFechas">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoPorRangoFechasRequest" message="tns:listarProductoPorRangoFechas"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoPorRangoFechasResponse" message="tns:listarProductoPorRangoFechasResponse"/>
</operation>
<operation name="listarProductoEmpresa">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoEmpresaRequest" message="tns:listarProductoEmpresa"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoEmpresaResponse" message="tns:listarProductoEmpresaResponse"/>
</operation>
<operation name="borrarProductoPorID">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/borrarProductoPorIDRequest" message="tns:borrarProductoPorID"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/borrarProductoPorIDResponse" message="tns:borrarProductoPorIDResponse"/>
</operation>
<operation name="registrarProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/registrarProductoRequest" message="tns:registrarProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/registrarProductoResponse" message="tns:registrarProductoResponse"/>
</operation>
<operation name="actualizarProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/actualizarProductoRequest" message="tns:actualizarProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/actualizarProductoResponse" message="tns:actualizarProductoResponse"/>
</operation>
<operation name="listarTipoProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarTipoProductoRequest" message="tns:listarTipoProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarTipoProductoResponse" message="tns:listarTipoProductoResponse"/>
</operation>
<operation name="listarProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoRequest" message="tns:listarProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarProducto/listarProductoResponse" message="tns:listarProductoResponse"/>
</operation>
</portType>
<binding name="WSGestionarProductoPortBinding" type="tns:WSGestionarProducto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarActivoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductoPorRangoFechas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProductoEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarProductoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarTipoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionarProducto">
<port name="WSGestionarProductoPort" binding="tns:WSGestionarProductoPortBinding">
<soap:address location="http://localhost:8080/WSPotafolio/WSGestionarProducto"/>
</port>
</service>
</definitions>