paginaMisOfertas/web/WEB-INF/wsdl/localhost_8080/WSPotafolio/WSGestionarAnuncio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portafolio.com/" name="WSGestionarAnuncio">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portafolio.com/" schemaLocation="http://localhost:8080/WSPotafolio/WSGestionarAnuncio?xsd=1"/>
</xsd:schema>
</types>
<message name="listaRecomendacionSistema">
<part name="parameters" element="tns:listaRecomendacionSistema"/>
</message>
<message name="listaRecomendacionSistemaResponse">
<part name="parameters" element="tns:listaRecomendacionSistemaResponse"/>
</message>
<message name="mostrarAnuncioAlimentosHOME">
<part name="parameters" element="tns:mostrarAnuncioAlimentosHOME"/>
</message>
<message name="mostrarAnuncioAlimentosHOMEResponse">
<part name="parameters" element="tns:mostrarAnuncioAlimentosHOMEResponse"/>
</message>
<message name="mostrarAnuncioROPAHOME">
<part name="parameters" element="tns:mostrarAnuncioROPAHOME"/>
</message>
<message name="mostrarAnuncioROPAHOMEResponse">
<part name="parameters" element="tns:mostrarAnuncioROPAHOMEResponse"/>
</message>
<message name="mostrarAnuncioElectronicaHOME">
<part name="parameters" element="tns:mostrarAnuncioElectronicaHOME"/>
</message>
<message name="mostrarAnuncioElectronicaHOMEResponse">
<part name="parameters" element="tns:mostrarAnuncioElectronicaHOMEResponse"/>
</message>
<message name="mostrarAnuncioLineaBlancaHOME">
<part name="parameters" element="tns:mostrarAnuncioLineaBlancaHOME"/>
</message>
<message name="mostrarAnuncioLineaBlancaHOMEResponse">
<part name="parameters" element="tns:mostrarAnuncioLineaBlancaHOMEResponse"/>
</message>
<portType name="WSGestionarAnuncio">
<operation name="listaRecomendacionSistema">
<input wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/listaRecomendacionSistemaRequest" message="tns:listaRecomendacionSistema"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/listaRecomendacionSistemaResponse" message="tns:listaRecomendacionSistemaResponse"/>
</operation>
<operation name="mostrarAnuncioAlimentosHOME">
<input wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioAlimentosHOMERequest" message="tns:mostrarAnuncioAlimentosHOME"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioAlimentosHOMEResponse" message="tns:mostrarAnuncioAlimentosHOMEResponse"/>
</operation>
<operation name="mostrarAnuncioROPAHOME">
<input wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioROPAHOMERequest" message="tns:mostrarAnuncioROPAHOME"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioROPAHOMEResponse" message="tns:mostrarAnuncioROPAHOMEResponse"/>
</operation>
<operation name="mostrarAnuncioElectronicaHOME">
<input wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioElectronicaHOMERequest" message="tns:mostrarAnuncioElectronicaHOME"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioElectronicaHOMEResponse" message="tns:mostrarAnuncioElectronicaHOMEResponse"/>
</operation>
<operation name="mostrarAnuncioLineaBlancaHOME">
<input wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioLineaBlancaHOMERequest" message="tns:mostrarAnuncioLineaBlancaHOME"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarAnuncio/mostrarAnuncioLineaBlancaHOMEResponse" message="tns:mostrarAnuncioLineaBlancaHOMEResponse"/>
</operation>
</portType>
<binding name="WSGestionarAnuncioPortBinding" type="tns:WSGestionarAnuncio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaRecomendacionSistema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarAnuncioAlimentosHOME">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarAnuncioROPAHOME">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarAnuncioElectronicaHOME">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarAnuncioLineaBlancaHOME">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionarAnuncio">
<port name="WSGestionarAnuncioPort" binding="tns:WSGestionarAnuncioPortBinding">
<soap:address location="http://localhost:8080/WSPotafolio/WSGestionarAnuncio"/>
</port>
</service>
</definitions>