paginaMisOfertas/web/WEB-INF/wsdl/localhost_8080/WSPotafolio/WSGestionarUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portafolio.com/" name="WSGestionarUsuario">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portafolio.com/" schemaLocation="http://localhost:8080/WSPotafolio/WSGestionarUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="ingresarUsuario">
<part name="parameters" element="tns:ingresarUsuario"/>
</message>
<message name="ingresarUsuarioResponse">
<part name="parameters" element="tns:ingresarUsuarioResponse"/>
</message>
<message name="comprobarsiExisteEmail">
<part name="parameters" element="tns:comprobarsiExisteEmail"/>
</message>
<message name="comprobarsiExisteEmailResponse">
<part name="parameters" element="tns:comprobarsiExisteEmailResponse"/>
</message>
<message name="listarUsuariosPorRangoDePuntos">
<part name="parameters" element="tns:listarUsuariosPorRangoDePuntos"/>
</message>
<message name="listarUsuariosPorRangoDePuntosResponse">
<part name="parameters" element="tns:listarUsuariosPorRangoDePuntosResponse"/>
</message>
<message name="devolverNivelUsuario">
<part name="parameters" element="tns:devolverNivelUsuario"/>
</message>
<message name="devolverNivelUsuarioResponse">
<part name="parameters" element="tns:devolverNivelUsuarioResponse"/>
</message>
<message name="comprobarNombreUsuario">
<part name="parameters" element="tns:comprobarNombreUsuario"/>
</message>
<message name="comprobarNombreUsuarioResponse">
<part name="parameters" element="tns:comprobarNombreUsuarioResponse"/>
</message>
<message name="listarUsuariosPorNivel">
<part name="parameters" element="tns:listarUsuariosPorNivel"/>
</message>
<message name="listarUsuariosPorNivelResponse">
<part name="parameters" element="tns:listarUsuariosPorNivelResponse"/>
</message>
<message name="retornarUltimoIDUsuario">
<part name="parameters" element="tns:retornarUltimoIDUsuario"/>
</message>
<message name="retornarUltimoIDUsuarioResponse">
<part name="parameters" element="tns:retornarUltimoIDUsuarioResponse"/>
</message>
<message name="devolverIdUsuario">
<part name="parameters" element="tns:devolverIdUsuario"/>
</message>
<message name="devolverIdUsuarioResponse">
<part name="parameters" element="tns:devolverIdUsuarioResponse"/>
</message>
<message name="listarInformacionCompletaTodosLosUsuarios">
<part name="parameters" element="tns:listarInformacionCompletaTodosLosUsuarios"/>
</message>
<message name="listarInformacionCompletaTodosLosUsuariosResponse">
<part name="parameters" element="tns:listarInformacionCompletaTodosLosUsuariosResponse"/>
</message>
<message name="validarUsuarioPorNombreUsuarioUCorreo">
<part name="parameters" element="tns:validarUsuarioPorNombreUsuarioUCorreo"/>
</message>
<message name="validarUsuarioPorNombreUsuarioUCorreoResponse">
<part name="parameters" element="tns:validarUsuarioPorNombreUsuarioUCorreoResponse"/>
</message>
<message name="modificarUsuario">
<part name="parameters" element="tns:modificarUsuario"/>
</message>
<message name="modificarUsuarioResponse">
<part name="parameters" element="tns:modificarUsuarioResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario"/>
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse"/>
</message>
<message name="listarInformacionCompletaDelUsuariosPorUsuarioClave">
<part name="parameters" element="tns:listarInformacionCompletaDelUsuariosPorUsuarioClave"/>
</message>
<message name="listarInformacionCompletaDelUsuariosPorUsuarioClaveResponse">
<part name="parameters" element="tns:listarInformacionCompletaDelUsuariosPorUsuarioClaveResponse"/>
</message>
<message name="listarInformacionCompletaDelUsuariosPorCorreoClave">
<part name="parameters" element="tns:listarInformacionCompletaDelUsuariosPorCorreoClave"/>
</message>
<message name="listarInformacionCompletaDelUsuariosPorCorreoClaveResponse">
<part name="parameters" element="tns:listarInformacionCompletaDelUsuariosPorCorreoClaveResponse"/>
</message>
<portType name="WSGestionarUsuario">
<operation name="ingresarUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/ingresarUsuarioRequest" message="tns:ingresarUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/ingresarUsuarioResponse" message="tns:ingresarUsuarioResponse"/>
</operation>
<operation name="comprobarsiExisteEmail">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/comprobarsiExisteEmailRequest" message="tns:comprobarsiExisteEmail"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/comprobarsiExisteEmailResponse" message="tns:comprobarsiExisteEmailResponse"/>
</operation>
<operation name="listarUsuariosPorRangoDePuntos">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosPorRangoDePuntosRequest" message="tns:listarUsuariosPorRangoDePuntos"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosPorRangoDePuntosResponse" message="tns:listarUsuariosPorRangoDePuntosResponse"/>
</operation>
<operation name="devolverNivelUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/devolverNivelUsuarioRequest" message="tns:devolverNivelUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/devolverNivelUsuarioResponse" message="tns:devolverNivelUsuarioResponse"/>
</operation>
<operation name="comprobarNombreUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/comprobarNombreUsuarioRequest" message="tns:comprobarNombreUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/comprobarNombreUsuarioResponse" message="tns:comprobarNombreUsuarioResponse"/>
</operation>
<operation name="listarUsuariosPorNivel">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosPorNivelRequest" message="tns:listarUsuariosPorNivel"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosPorNivelResponse" message="tns:listarUsuariosPorNivelResponse"/>
</operation>
<operation name="retornarUltimoIDUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/retornarUltimoIDUsuarioRequest" message="tns:retornarUltimoIDUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/retornarUltimoIDUsuarioResponse" message="tns:retornarUltimoIDUsuarioResponse"/>
</operation>
<operation name="devolverIdUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/devolverIdUsuarioRequest" message="tns:devolverIdUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/devolverIdUsuarioResponse" message="tns:devolverIdUsuarioResponse"/>
</operation>
<operation name="listarInformacionCompletaTodosLosUsuarios">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaTodosLosUsuariosRequest" message="tns:listarInformacionCompletaTodosLosUsuarios"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaTodosLosUsuariosResponse" message="tns:listarInformacionCompletaTodosLosUsuariosResponse"/>
</operation>
<operation name="validarUsuarioPorNombreUsuarioUCorreo">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/validarUsuarioPorNombreUsuarioUCorreoRequest" message="tns:validarUsuarioPorNombreUsuarioUCorreo"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/validarUsuarioPorNombreUsuarioUCorreoResponse" message="tns:validarUsuarioPorNombreUsuarioUCorreoResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
</operation>
<operation name="listarInformacionCompletaDelUsuariosPorUsuarioClave">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaDelUsuariosPorUsuarioClaveRequest" message="tns:listarInformacionCompletaDelUsuariosPorUsuarioClave"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaDelUsuariosPorUsuarioClaveResponse" message="tns:listarInformacionCompletaDelUsuariosPorUsuarioClaveResponse"/>
</operation>
<operation name="listarInformacionCompletaDelUsuariosPorCorreoClave">
<input wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaDelUsuariosPorCorreoClaveRequest" message="tns:listarInformacionCompletaDelUsuariosPorCorreoClave"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarUsuario/listarInformacionCompletaDelUsuariosPorCorreoClaveResponse" message="tns:listarInformacionCompletaDelUsuariosPorCorreoClaveResponse"/>
</operation>
</portType>
<binding name="WSGestionarUsuarioPortBinding" type="tns:WSGestionarUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ingresarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarsiExisteEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosPorRangoDePuntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverNivelUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarNombreUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuariosPorNivel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarUltimoIDUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverIdUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInformacionCompletaTodosLosUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuarioPorNombreUsuarioUCorreo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInformacionCompletaDelUsuariosPorUsuarioClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarInformacionCompletaDelUsuariosPorCorreoClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionarUsuario">
<port name="WSGestionarUsuarioPort" binding="tns:WSGestionarUsuarioPortBinding">
<soap:address location="http://localhost:8080/WSPotafolio/WSGestionarUsuario"/>
</port>
</service>
</definitions>