paginaMisOfertas/web/WEB-INF/wsdl/localhost_8080/WSPotafolio/WSGestionarDescuento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portafolio.com/" name="WSGestionarDescuento">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portafolio.com/" schemaLocation="http://localhost:8080/WSPotafolio/WSGestionarDescuento?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarDescuento">
<part name="parameters" element="tns:actualizarDescuento"/>
</message>
<message name="actualizarDescuentoResponse">
<part name="parameters" element="tns:actualizarDescuentoResponse"/>
</message>
<message name="listarDescuentoProductoEmpresa">
<part name="parameters" element="tns:listarDescuentoProductoEmpresa"/>
</message>
<message name="listarDescuentoProductoEmpresaResponse">
<part name="parameters" element="tns:listarDescuentoProductoEmpresaResponse"/>
</message>
<message name="borrarDescuentoPorID">
<part name="parameters" element="tns:borrarDescuentoPorID"/>
</message>
<message name="borrarDescuentoPorIDResponse">
<part name="parameters" element="tns:borrarDescuentoPorIDResponse"/>
</message>
<message name="registrarDescuento">
<part name="parameters" element="tns:registrarDescuento"/>
</message>
<message name="registrarDescuentoResponse">
<part name="parameters" element="tns:registrarDescuentoResponse"/>
</message>
<message name="listarPorFiltroNombreOfertaUProducto">
<part name="parameters" element="tns:listarPorFiltroNombreOfertaUProducto"/>
</message>
<message name="listarPorFiltroNombreOfertaUProductoResponse">
<part name="parameters" element="tns:listarPorFiltroNombreOfertaUProductoResponse"/>
</message>
<portType name="WSGestionarDescuento">
<operation name="actualizarDescuento">
<input wsam:Action="http://service.portafolio.com/WSGestionarDescuento/actualizarDescuentoRequest" message="tns:actualizarDescuento"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarDescuento/actualizarDescuentoResponse" message="tns:actualizarDescuentoResponse"/>
</operation>
<operation name="listarDescuentoProductoEmpresa">
<input wsam:Action="http://service.portafolio.com/WSGestionarDescuento/listarDescuentoProductoEmpresaRequest" message="tns:listarDescuentoProductoEmpresa"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarDescuento/listarDescuentoProductoEmpresaResponse" message="tns:listarDescuentoProductoEmpresaResponse"/>
</operation>
<operation name="borrarDescuentoPorID">
<input wsam:Action="http://service.portafolio.com/WSGestionarDescuento/borrarDescuentoPorIDRequest" message="tns:borrarDescuentoPorID"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarDescuento/borrarDescuentoPorIDResponse" message="tns:borrarDescuentoPorIDResponse"/>
</operation>
<operation name="registrarDescuento">
<input wsam:Action="http://service.portafolio.com/WSGestionarDescuento/registrarDescuentoRequest" message="tns:registrarDescuento"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarDescuento/registrarDescuentoResponse" message="tns:registrarDescuentoResponse"/>
</operation>
<operation name="listarPorFiltroNombreOfertaUProducto">
<input wsam:Action="http://service.portafolio.com/WSGestionarDescuento/listarPorFiltroNombreOfertaUProductoRequest" message="tns:listarPorFiltroNombreOfertaUProducto"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarDescuento/listarPorFiltroNombreOfertaUProductoResponse" message="tns:listarPorFiltroNombreOfertaUProductoResponse"/>
</operation>
</portType>
<binding name="WSGestionarDescuentoPortBinding" type="tns:WSGestionarDescuento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarDescuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarDescuentoProductoEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarDescuentoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarDescuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPorFiltroNombreOfertaUProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionarDescuento">
<port name="WSGestionarDescuentoPort" binding="tns:WSGestionarDescuentoPortBinding">
<soap:address location="http://localhost:8080/WSPotafolio/WSGestionarDescuento"/>
</port>
</service>
</definitions>