paginaMisOfertas/src/conf/xml-resources/web-service-references/WSGestionarEmpresa/wsdl/localhost_8080/WSPotafolio/WSGestionarEmpresa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.portafolio.com/" name="WSGestionarEmpresa">
<types>
<xsd:schema>
<xsd:import namespace="http://service.portafolio.com/" schemaLocation="http://localhost:8080/WSPotafolio/WSGestionarEmpresa?xsd=1"/>
</xsd:schema>
</types>
<message name="listarEmpresas">
<part name="parameters" element="tns:listarEmpresas"/>
</message>
<message name="listarEmpresasResponse">
<part name="parameters" element="tns:listarEmpresasResponse"/>
</message>
<message name="ingresarEmpresa">
<part name="parameters" element="tns:ingresarEmpresa"/>
</message>
<message name="ingresarEmpresaResponse">
<part name="parameters" element="tns:ingresarEmpresaResponse"/>
</message>
<message name="borrarEmpresa">
<part name="parameters" element="tns:borrarEmpresa"/>
</message>
<message name="borrarEmpresaResponse">
<part name="parameters" element="tns:borrarEmpresaResponse"/>
</message>
<message name="actualizarEmpresa">
<part name="parameters" element="tns:actualizarEmpresa"/>
</message>
<message name="actualizarEmpresaResponse">
<part name="parameters" element="tns:actualizarEmpresaResponse"/>
</message>
<portType name="WSGestionarEmpresa">
<operation name="listarEmpresas">
<input wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/listarEmpresasRequest" message="tns:listarEmpresas"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/listarEmpresasResponse" message="tns:listarEmpresasResponse"/>
</operation>
<operation name="ingresarEmpresa">
<input wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/ingresarEmpresaRequest" message="tns:ingresarEmpresa"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/ingresarEmpresaResponse" message="tns:ingresarEmpresaResponse"/>
</operation>
<operation name="borrarEmpresa">
<input wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/borrarEmpresaRequest" message="tns:borrarEmpresa"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/borrarEmpresaResponse" message="tns:borrarEmpresaResponse"/>
</operation>
<operation name="actualizarEmpresa">
<input wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/actualizarEmpresaRequest" message="tns:actualizarEmpresa"/>
<output wsam:Action="http://service.portafolio.com/WSGestionarEmpresa/actualizarEmpresaResponse" message="tns:actualizarEmpresaResponse"/>
</operation>
</portType>
<binding name="WSGestionarEmpresaPortBinding" type="tns:WSGestionarEmpresa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarEmpresas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ingresarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSGestionarEmpresa">
<port name="WSGestionarEmpresaPort" binding="tns:WSGestionarEmpresaPortBinding">
<soap:address location="http://localhost:8080/WSPotafolio/WSGestionarEmpresa"/>
</port>
</service>
</definitions>