paginaMisOfertas/src/conf/xml-resources/web-service-references/WSGestionarEmpresa/wsdl/localhost_8080/WSPotafolio/WSGestionarEmpresa.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.portafolio.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.portafolio.com/">

<xs:element name="actualizarEmpresa" type="tns:actualizarEmpresa"/>

<xs:element name="actualizarEmpresaResponse" type="tns:actualizarEmpresaResponse"/>

<xs:element name="borrarEmpresa" type="tns:borrarEmpresa"/>

<xs:element name="borrarEmpresaResponse" type="tns:borrarEmpresaResponse"/>

<xs:element name="ingresarEmpresa" type="tns:ingresarEmpresa"/>

<xs:element name="ingresarEmpresaResponse" type="tns:ingresarEmpresaResponse"/>

<xs:element name="listarEmpresas" type="tns:listarEmpresas"/>

<xs:element name="listarEmpresasResponse" type="tns:listarEmpresasResponse"/>

<xs:complexType name="ingresarEmpresa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoEmpresa" type="xs:int"/>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
<xs:element name="rutEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingresarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarEmpresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEmpresa">
<xs:sequence>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoEmpresa" type="xs:int"/>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
<xs:element name="rutEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarEmpresas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarEmpresasResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="activo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:int"/>
<xs:element name="idTipoEmpresa" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rol" type="xs:string" minOccurs="0"/>
<xs:element name="rutEmpresa" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>